body {
  background-color: #373b45;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: grid;
  padding: 1em;
  gap: 1em;
  text-align: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background: #272935;
  border-radius: 0.5em;
  display: block;
}

.card:hover {
  background: #15161e;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header > button {
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0.5em;
  background: #abb0ec;
  border: none;
}

.card-header > button:hover {
  background-color: #9da4f5;
}
